
#br
#br
#br
#br
#br
#br


#span.tip
  ciao

:javascript
  $("#span.tip").qtip({
    content: 'I\'m at the top right of my target',
    position: {
      corner: {
        target: 'topRight',
        tooltip: 'bottomLeft'
      }
    }
  });
