%input{:type=>"text", :name=>"date", :id=>"date"}

:javascript
  $('#date').datepicker();


Filter by
%fieldset#filter
  %label{:for=>"checked"}="checked"
  %input{:type=>'checkbox', :name=>"checked"}
  %input{:type=>'checkbox', :name=>"unchecked"}
  %a="Filter!"


:javascript
  $(function() {
    $('input:checkbox').change(function() {

      var film_id = this.id.substr(4); // chk_123
      var checked = this.checked;

      $.ajax({
        type: 'GET',
        url: 'ajax_set_flag/' + film_id,
        data: 'checked=' + checked,
        success: function(data) { console.log("ok");}
      });
    });
  });


%fieldset#shippingInfo
  %legend="Shipping Address"
  %label{:for=>"shipName"}="Name"
  %input#shipName{:name=>"shipName",:type=>"text"}
  %label{:for=>"shipAddress"}="Address"
  %input#shipAddress{:name=>"shipAddress",:type=>"text"}

%fieldset#billingInfo
  %legend="Billing Address"
  %label{:for=>"sameAsShipping"}="Same as Shipping"
  %input#sameAsShipping{:name=>"sameAsShipping",:type=>"checkbox",:value=>"sameAsShipping"}
  %label{:for=>"billName"}="Name"
  %input#billName{:name=>"billName",:type=>"text"}
  %label{:for=>"billAddress"}="Address"
  %input#billAddress{:name=>"billAddress",:type=>"text"}

:javascript
  $(function () {
    $('#sameAsShipping').change(function() {
      console.log("ciao");
      if( this.checked ) {
        $('#billingInfo input:text').attr('disabled','disabled').each(function(i) {
          var valueFromShippingInput = $('#shippingInfo input:text:eq(' + i + ')').val();
          $(this).val( valueFromShippingInput );
        });
      } else {
        $('#billingInfo input:text').removeAttr('disabled');
      }
    }).trigger('change');

    $('#shippingInfo input:text').bind('keyup change',function(){
      if ( $('#sameAsShipping:checked').length ){
        var i = $('#shippingInfo input:text').index( this );
        var valueFromShippingInput = $(this).val();
        $('#billingInfo input:text:eq('+i+')').val( valueFromShippingInput );
    }});})
