%script{:type=>"text/javascript", :src=>"/js/prototype.js"}
%script{:type=>"text/javascript", :src=>"/js/scriptaculous.js?load=effects,builder"}
%script{:type=>"text/javascript", :src=>"/js/lightbox.js"}
